
.name{
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 2%;
}

.descriptiom{
    font-size: 1.6rem;
    font-style:italic ;
    margin-top: 2%;
}
.price{
    font-size: 1.4rem;
    font-weight: bold;
    color:maroon;
    margin-top: 2%;
}

ul{
    list-style: none;
}


.container {
    position: relative;
    z-index: 1;
  }