.header{
    width:100%;
    position: fixed;
    position: sticky;
    height: 4rem;
    background-color: maroon;
    font-size: 1rem;
    font-weight: bold;    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 ,10%;   
    z-index: 10;
   
}
.main_img{
    display: flex;
    width: 100%;
    height:15rem;
    object-fit: cover;
    transform: rotateZ(-3deg) translateY(-4rem) translateX(-1rem);

   
}

@media (max-width:600px) {
    .header{
      font-size: 0.5rem;
    }
}